# Web Framework
fastapi
uvicorn

# Database
motor
pymongo

# Environment and Utilities
python-dotenv
pydantic
pydantic-settings
typing-extensions

# LangChain and AI Agentic Framework
langchain
langchain-core
langchain-google-genai
langgraph

# Testing (Required for the .py test files provided)
requests